node_modules/
packages/*/dist/
examples/**/dist/
examples/**/.data/
examples/**/playwright-report/
examples/**/test-results/
.parcel-cache
/.kosho**
**/*.turbo
*.tsbuildinfo
packages/core/test/logs/
tmp/
